Nr.1

In [29]:
import pandas as pd
data = pd.read_csv("../data/titanic.csv")
print(data.shape)
data.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "Sibsp", "Parch"

In [61]:
features = ['Survived', 'Pclass','Age', 'Fare', 'SibSp', 'Parch']
data_features = data[features]
data_features.head()

   Survived  Pclass   Age     Fare  SibSp  Parch
0         0       3  22.0   7.2500      1      0
1         1       1  38.0  71.2833      1      0
2         1       3  26.0   7.9250      0      0
3         1       1  35.0  53.1000      1      0
4         0       3  35.0   8.0500      0      0

In [62]:
row_bevor = len(data)
filtered_data = data_features.dropna()
row_after = len(filtered_data)
print("Davor: ", row_bevor, " Danach ", row_after)

Davor:  891  Danach  714

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten. 
2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label. 
3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy
    - Precision
    - Recall

In [63]:
import numpy as np
features = filtered_data.drop(["Survived"], axis=1) #Daten
label = filtered_data["Survived"] #Spalte Survived
features.head()

   Pclass   Age     Fare  SibSp  Parch
0       3  22.0   7.2500      1      0
1       1  38.0  71.2833      1      0
2       3  26.0   7.9250      0      0
3       1  35.0  53.1000      1      0
4       3  35.0   8.0500      0      0

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=0)
print("Trainingsdatenpunkte:", len(X_train))
print("Testdatenpunkte:", len(X_test))

Trainingsdatenpunkte: 571
Testdatenpunkte: 143

In [65]:
#Logitisches Regressionsmodel wird traniert
from sklearn.linear_model import LogisticRegression
logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [66]:
predictions = logisticRegr.predict(X_test)

In [67]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6993006993006993

In [68]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.723404255319149

In [69]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.53125

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus. Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. Hinweis: Python wandelt Booleans automatisch in Nummern um. 
2. In wie weit verbessert sich die Accuracy durch das neue Feature?
3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

In [73]:
features = ["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch", "Sex", "Embarked"]
filtered_data = data[features].dropna()
print("Shape:", filtered_data.shape)

Shape: (712, 8)

In [76]:
gender_data = filtered_data.copy()
gender_data["Female"] = gender_data["Sex"] == "female"
gender_data.head(3)

   Survived  Pclass   Age     Fare  SibSp  Parch     Sex Embarked  Female
0         0       3  22.0   7.2500      1      0    male        S   False
1         1       1  38.0  71.2833      1      0  female        C    True
2         1       3  26.0   7.9250      0      0  female        S    True

In [86]:
features = gender_data.drop(["Survived", "Sex", "Embarked"], axis=1)#Spalten rauswerfen!
label = gender_data["Survived"]


X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=0)

logisticRegr = LogisticRegression(max_iter=1000) # Gradient Descent mit max. 1000 Schritten
logisticRegr.fit(X_train, y_train)

predictions = logisticRegr.predict(X_test)
print("Accuracy:", accuracy_score(y_test, predictions))
print("Precision:", precision_score(y_test, predictions))
print("Recall:", recall_score(y_test, predictions))

Accuracy: 0.8181818181818182
Precision: 0.8431372549019608
Recall: 0.7049180327868853

In [89]:
embarked_data = gender_data.copy()
embarked_data["Embarked_C"] = embarked_data["Embarked"] == "C"
embarked_data["Embarked_Q"] = embarked_data["Embarked"] == "Q"
embarked_data["Embarked_S"] = embarked_data["Embarked"] == "S"
embarked_data.head(3)

,Survived,Pclass,Age,Fare,SibSp,Parch,Sex,Embarked,Female,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.0,7.2500,1,0,male,S,False,False,False,True
1,1,1,38.0,71.2833,1,0,female,C,True,True,False,False
2,1,3,26.0,7.9250,0,0,female,S,True,False,False,True

In [90]:
featureWeights = logisticRegr.coef_[0]
print(featureWeights)
featureNames = X_train.columns
print(featureNames)

[-1.11227421 -0.03994916  0.00329522 -0.43397738 -0.03088026  2.39039088]
Index(['Pclass', 'Age', 'Fare', 'SibSp', 'Parch', 'Female'], dtype='object')

In [91]:
df = pd.DataFrame(data={'feature': featureNames, 'importance': featureWeights})
df["importanceAbs"] = df["importance"].abs()
df.sort_values("importanceAbs", ascending=False)

  feature  importance  importanceAbs
5  Female    2.390391       2.390391
0  Pclass   -1.112274       1.112274
3   SibSp   -0.433977       0.433977
1     Age   -0.039949       0.039949
4   Parch   -0.030880       0.030880
2    Fare    0.003295       0.003295